{% extends 'layout/layout.html.twig' %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Article</h2>

        </div>
        <div class="col-lg-2">

        </div>
    </div>
    {{ form_start(form) }}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Information de recherche</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group"><label>Categorie</label>
                                                {{ form_widget(form.categorie) }}
                                            </div>
                                            <div class="form-group"><label>Specialite</label>
                                                {{ form_widget(form.specialite) }}
                                            </div>
                                            <div class="form-group"><label>Ambiance</label>
                                                {{ form_widget(form.ambiance) }}
                                            </div>
                                            <div class="form-group"><label>Filtre</label>
                                                {{ form_widget(form.filtre) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Image et carte de prix</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group"><label>Image</label>
                                                {{ form_widget(form.image) }}
                                            </div>
                                            <div class="form-group"><label>Carte des prix</label>
                                                {{ form_widget(form.carte) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Horraire de travail</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <h3>lundi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromLundi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toLundi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Mardi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromMardi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toMardi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Mercredi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromMercredi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toMercredi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Jeudi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromJeudi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toJeudi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Vendredi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromVendredi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toVendredi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Samedi</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromSamedi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toSamedi) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm">
                                            <h3>Dimanche</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.fromDimanche) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i style="font-weight: normal">Du</i></label>
                                                    <div class="input-group clockpicker" data-autoclose="true">
                                                        {{ form_widget(form.toDimanche) }}
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Information de base</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group"><label>Nom</label>
                                                {{ form_widget(form.nomEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Adresse</label>
                                                {{ form_widget(form.adresseEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Ville</label>
                                                {{ form_widget(form.villeEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Code postale</label>
                                                {{ form_widget(form.postaleEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Tel 1</label>
                                                {{ form_widget(form.telOneEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>tel 2</label>
                                                {{ form_widget(form.telTwoEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Tel 3</label>
                                                {{ form_widget(form.telThreeEtablissement) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Information Internet</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group"><label>email</label>
                                                {{ form_widget(form.emailEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Site internet</label>
                                                {{ form_widget(form.webEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Page Facebook</label>
                                                {{ form_widget(form.facebookEtablissement) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-pencil-square-o"></i> Coordonnées geolocalisation</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="well well-sm">
                                            <div class="form-group"><label>Lat</label>
                                                {{ form_widget(form.latEtablissement) }}
                                            </div>
                                            <div class="form-group"><label>Long</label>
                                                {{ form_widget(form.longEtablissement) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-md btn-primary pull-right m-t-n-xs btn-block" type="submit"><strong>Ajouter un établissement</strong></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
