{% extends 'base.html.twig' %}

{% block body %}
    <h1>Filtre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ filtre.id }}</td>
            </tr>
            <tr>
                <th>Nomfiltre</th>
                <td>{{ filtre.nomFiltre }}</td>
            </tr>
            <tr>
                <th>Statutfiltre</th>
                <td>{{ filtre.statutFiltre }}</td>
            </tr>
            <tr>
                <th>Datefiltre</th>
                <td>{% if filtre.dateFiltre %}{{ filtre.dateFiltre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('filtre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('filtre_edit', { 'id': filtre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
