{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-8">

                                <h2>Liste des Confidentialites
                                    <a href="{{ path('confidentialite_new') }}">
                                        <button class="btn btn-sm btn-danger">Ajouter nouvelle Confidentialite</button>
                                    </a>
                                </h2>
                                <div class="clients-list">
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="full-height-scroll">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <tbody>
                                                        <tr>
                                                            <td class="client-avatar"><i class="fa fa-list" aria-hidden="true"></i>
                                                            </td>
                                                            <td align="center"><a data-toggle="tab" href="#contact-1" class="client-link"><b>#id</b></a></td>
                                                            <td align="center" class="client-link">Nom Confidentialite</td>
                                                            <td align="center" class="client-link"> Date d'ajout Confidentialite</td>
                                                            <td class="client-link" align="center">
                                                                Statut Confidentialite
                                                            </td>
                                                            <td align="center" class="client-link">
                                                                Operation
                                                            </td>
                                                        </tr>
                                                        {% for confidentialite in confidentialites %}
                                                            <tr>
                                                                <td class="client-avatar"><i class="fa fa-list" aria-hidden="true"></i>
                                                                </td>
                                                                <td align="center"><a data-toggle="tab" href="#contact-1" class="client-link">#{{ confidentialite.id }}</a></td>
                                                                <td align="center">{{ confidentialite.nomConfidentialite }}</td>
                                                                <td align="center"> {{ confidentialite.dateConfidentialite|date("m/d/Y") }}</td>
                                                                <td  align="center">
                                                                    {% if(confidentialite.statutConfidentialite == 1) %}
                                                                        <span class="label label-primary">Activé</span>
                                                                    {% else %}
                                                                        <span class="label label-danger">Désactivé</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td align="center">
                                                                    <a href="{{ path('confidentialite_edit', { 'id': confidentialite.id }) }}">
                                                                        <button class="btn btn-xs btn-success">modifier</button>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well well-sm">
                                    <h2>Liste des Confidentialites</h2>
                                    {{ form_start(edit_form) }}
                                    <div class="form-group"><label>titre Confidentialite</label>
                                        {{ form_widget(edit_form.nomConfidentialite) }}
                                    </div>
                                    <div class="form-group"><label>Statut Confidentialite</label>
                                        {{ form_widget(edit_form.statutConfidentialite) }}
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs btn-block" type="submit"><strong>Modifier</strong></button>
                                            </div>
                                            {{ form_end(edit_form) }}
                                            <div class="col-md-6">
                                                {{ form_start(delete_form) }}
                                                <button class="btn btn-sm btn-danger pull-right m-t-n-xs btn-block" type="submit"><strong>Supprimer</strong></button>
                                                {{ form_end(delete_form) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}
