{% extends 'base.html.twig' %}

{% block body %}
    <h1>Topic</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Nomtopic</th>
                <td>{{ topic.nomTopic }}</td>
            </tr>
            <tr>
                <th>Statuttopic</th>
                <td>{{ topic.statutTopic }}</td>
            </tr>
            <tr>
                <th>Datetopic</th>
                <td>{% if topic.dateTopic %}{{ topic.dateTopic|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('topic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('topic_edit', { 'id': topic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
