{% extends 'layout/layout.html.twig' %}
{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste des Utilisateurs <a href="{{ path('client_new') }}">Ajouter un membre</a></h2>

        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th align="center">Nom & Prenom</th>
                                    <th align="center">Email</th>
                                    <th align="center">Pays</th>
                                    <th align="center">Sexe</th>
                                    <th align="center">Date d'inscrit</th>
                                    <th align="center">Role</th>
                                    <th align="center">Activé ?</th>
                                    <th align="center">Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for membre in membres %}
                                    <tr class="gradeX">
                                        <td align="center">{{ membre.nomClient }} {{ membre.prenomClient }}</td>
                                        <td align="center">{{ membre.email }}</td>
                                        <td align="center">
                                            {{ membre.paysClient }}
                                        </td>
                                        <td align="center">{{ membre.sexeClient }}</td>
                                        <td align="center">{{ membre.dateAjoutClient|date("m/d/Y") }} </td>
                                        <td align="center">
                                            {% for roleMember in membre.roles %}
                                            <span class="badge badge-warning-light">{{ roleMember }}</span>
                                            {% endfor %}
                                        </td>
                                        <th align="center">
                                            {% if membre.enabled == 1 %}
                                                <span class="badge badge-primary">Oui</span>
                                            {% else %}
                                                <span class="badge badge-danger">Non</span>
                                            {% endif %}
                                        </th>
                                        <td align="center">
                                            <a href="">
                                                <button class="btn btn-sm btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a href="{{ path('memberProfile', {'id':membre.id}) }}">
                                                <button class="btn btn-sm btn-info"><i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
